h1 {
    color: blue;
    font-family: initial;
    border: inherit;
}

.anotation {
    font-size: 10px;
}

#subscribe-btn {
    color: red;
}

p {
    font-size: 20px;
}

body {
    font-family: sans-serif;
    border: 5px red solid;
}